<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />

        <!-- jQuery/bootstrap downloaded files-->
        <script src="{{ SITEURL }}/theme/js/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css">
        <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

        <!-- jQuery/bootstrap CDN -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

        <!-- self-defined CSS/js -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/rokken.css" />
        <script src="{{ SITEURL }}/theme/js/rokken.js"></script>

        <!-- pygments -->
        <!--<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" />-->
        <!-- prism -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/prism.css" />
        <script src="{{ SITEURL }}/theme/js/prism.js"></script>

        {% endblock head %}
</head>

<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <body id="index" class="home">
            <header id="banner" class="body">
                <div class="row">
                    <h1><a href="{{ SITEURL }}/">{{ SITENAME }} <strong>{{ SITESUBTITLE }}</strong></a></h1></div>
                <div class="row">
                    <ul class="nav nav-pills">
                        {% for cat, null in categories %}
                            <li role="presentation" {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                        {% endfor %}
                    </ul></div>
                <div class="row"><hr></div>
            </header><!-- /#banner -->
            {% block content %}
            {% endblock %}
            <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                </address><!-- /#about -->
            </footer><!-- /#contentinfo -->
        </body></div>
    <div class="col-md-2"></div></div></div>
</html>
