<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />

        <!-- jQuery/bootstrap downloaded files-->
        <script src="{{ SITEURL }}/theme/js/jquery-1.11.3.min.js"></script>
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/bootstrap.min.css">
        <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>

        <!-- jQuery/bootstrap CDN -->
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

        <!-- self-defined CSS/js -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/rokken.css" />
        <script src="{{ SITEURL }}/theme/js/rokken.js"></script>

        <!-- pygments -->
        <!--<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css" />-->
        <!-- prism -->
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/prism.css" />
        <script src="{{ SITEURL }}/theme/js/prism.js"></script>

        <!-- list.js -->
        <script src="{{ SITEURL }}/theme/js/list.js"></script>
        {% endblock head %}
</head>

<div id="content">
    <div id="leftCol"></div>
    <div id="rightCol"></div>
    <div id="midCol">
        <body>
            <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/"><strong>{{ SITENAME }}</strong><br>{{ SITESUBTITLE }}</br></a></h1>
                <ul class="nav nav-pills nav-cate">
                    {% for cat, null in categories %}
                        <li role="presentation" {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}"><strong>{{ cat }}</strong></a></li>
                    {% endfor %}
                </ul>
            </header>

            <div id="postlist">
                <div id="searchbox"><input class="search" placeholder="Search..." /></div>
                {% block content %}
                {% endblock %}
            </div>

            <footer>
                <div class="progress">
                    {% for myTag, null in tags %}
                    <div class="progress-bar {{myTag}}"><a href="{{ SITEURL }}/{{ myTag.url }}">a</a></div>
                    {% endfor %}
                </div>
            </footer>
        </body></div>
</div></html>
