{% extends "base.html" %}
{% block content %}
<section id="content">

<!-- post-list -->
{% for articlesByMonth in articles_page.object_list | listOfMonth %}
    {% set outerLoop = loop %}
    {% set articleCntBase = articles_page.object_list | listOfMonth | sumByIndex(outerLoop.index - 1) %}
    {% set date = articlesByMonth[0].locale_date.split('/')%}  <!-- date of articles of the same month -->
    {% set year = date[0] %}
    {% set month = date[1] %}
    <div class="row uniqueDays {% if outerLoop.index == 1 %}sticky{% endif %}" id="uniqueDay{{outerLoop.index}}"><h3 class="monthMargin">{{year}}/{{month}}</h3></div>
    {% for article in articlesByMonth%}
        {% set articleCnt = articleCntBase + loop.index %}  <!-- Jinja loop index start from 1 -->
        {% set date = article.locale_date.split('/') %}  <!-- date of one article -->
        {% set day = date[2] %}
        <div class="row">
            <div class="col-md-1">
                <div class="row myDate">
                    <h3><strong>{{day}}</strong></h3></div></div>
            <div class="col-md-11 myLeftBorder">
                <article id="articleId{{articleCnt}}">
                    <div class="index-title" id="index-title{{articleCnt}}"><h3><strong><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></strong></h3></header></div>
                    <div class="index-summary" id="index-summary{{articleCnt}}"> {{ article.summary }} </div>
                    <div class="index-content" id="index-content{{articleCnt}}">{{article.content}}</div></article></div></div>
        <div class="row"><hr class="noMargin"></div>  
    {% endfor %}
{% endfor %}
<!-- post-list -->
{% include 'pagination.html' %}</section>
{% endblock content %}
