{% extends "base.html" %}
{% block content %}
<section id="content">

<!-- post-list -->
{% for articlesByMonth in articles_page.object_list | listOfMonth %}
    {% set outerLoop = loop %}
    {% set articleCntBase = articles_page.object_list | listOfMonth | sumByIndex(outerLoop.index - 1) %}
    {% set date = articlesByMonth[0].locale_date.split('/')%}  <!-- date of articles of the same month -->
    {% set year = date[0] %}
    {% set month = date[1] %}
    <h4 class="monthBar {% if outerLoop.index == 1 %}sticky{% endif %}" id="monthBar{{outerLoop.index}}"><strong>{{year}}/{{month}}</strong></h4>
    {% for article in articlesByMonth%}
        {% set articleCnt = articleCntBase + loop.index %}  <!-- Jinja loop index start from 1 -->
        {% set date = article.locale_date.split('/') %}  <!-- date of one article -->
        {% set day = date[2] %}
        <div class="row noMargin index-container" id="articleId{{articleCnt}}">
            <div class="index-date" style=""><h3 class="noMargin"><strong>{{day}}</strong></h3></div>
            <div class="index-title {{article.tags[0].name}}" id="index-title{{articleCnt}}"><h3><strong>&nbsp;{{ article.title }}</strong></h3></header></div>
            <div class="index-summary" id="index-summary{{articleCnt}}"> {{ article.summary }} </div>
            <div class="index-content" id="index-content{{articleCnt}}">{{article.content}}</div></div>
        <hr>
    {% endfor %}
{% endfor %}
<!-- post-list -->
{% include 'pagination.html' %}</section>
{% endblock content %}
